@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}


body {
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    margin: auto;
    padding: 0;
    width: 1160px;
    max-width: 1160px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    height: 200px;
    background-color: #17abb3;
    color: white;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.profile-picture {
    position: absolute;
    left: 70px;
    /* Ajuste la position à gauche */
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    /* Ajuste selon la taille souhaitée */
    height: 120px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
}

img:hover {
    cursor: zoom-in;
}

.profile h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 2.5em;
    margin-bottom: 2px;
}

.profile h2 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 1.2em;
    font-weight: normal;
    color: #ffffff;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    background-color: #e3e3e3;
    color: #333333;
    width: 30%;
    padding: 20px;
    text-align: center;
}

.qualities ul,
.interests ul {
    list-style-type: none;
    padding-left: 20px;
}

.qualities ul li::before,
.interests ul li::before {
    content: "\25AA";
    float: left;
    color: #17abb3;
    margin-left: -1em;
}

.skills,
.languages,
.qualities,
.interests {
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin-top: 20px;

}

.skills h3,
.languages h3,
.qualities h3,
.interests h3 {
    border-bottom: 2px solid rgba(51, 51, 51, 0.05);
    padding-bottom: 5px;
    color: #17abb3;
    font-family: 'Lato', sans-serif;
}

/* mise en page des étoiles */
.skills {
    margin-bottom: 20px;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.skill-name,
.skill-rating {
    flex: 1;
    padding: 0 5px;
}

.skill-name {
    text-align: left;
}

.skill-rating {
    text-align: right;
}

.skill-rating i {
    color: #17abb3;
    margin: 0 1px;
}

.skill-name {
    font-weight: bold;
}

.langue-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

/* mise à droite des niveau de langue */
.langue,
.niveau {
    flex: 1;
}

.langue {
    text-align: left;
    font-weight: bold;
}

.niveau {
    text-align: right;
}

.content {
    width: 70%;
    padding: 30px;
}

.content h2 {
    color: #4a9bb4;
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 5px;
}

p {
    font-size: 1em;
    margin: 10px 0;
}

.section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    display: block;
    text-align: right;
    flex-shrink: 0;
    /* Empêche la date de rétrécir */
    color: #4a9bb4;
}

/* dynamise lors du survol */
.section-item:hover {
    background-color: #e3e3e3;
    border-left: 5px solid #4a9bb4;
    /* Bordure au survol */
    padding-left: 5px;
    /* Ajuste le padding pour compenser le trait */
}

footer {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: #17abb3;
    width: 1000px;
}

svg {
    margin: 20px 10px 3px;
}

svg:hover {
    opacity: 15%;
}

footer p {
    color: #ffffff;
}